<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Labby</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>

        <div id="login">
            <h2>Labby</h2>
            <p>Lambda School Labs</p>
            <button id="btn-login" disabled="true" onclick="login()">Log in</button>
            <button id="btn-logout" disabled="true" onclick="logout()">Log out</button>
        </div>

        <div class="protected" id="profile">
            <p>
              <strong>Logged in.</strong>
            </p>
            <label>
              Access token:
              <pre id="ipt-access-token"></pre>
            </label>
            <!--<label>
              User profile:
              <pre id="ipt-user-profile"></pre>
            </label>-->
          </div>

        <!-- Attendance -->
        <div class="display-column protected">
            <div class="column-header">Attendance</div>
            <!-- <form action="/attendance" method="post" enctype="multipart/form-data"> -->
            <form id="attendance-form" enctype="multipart/form-data">
                <label for="event-type">Event Type:</label>
                <select name="event-type" id="event-type" required>
                    <option value="Stakeholder Meeting">Stakeholder Meeting</option>
                    <option value="Product Review">Product Review</option>
                </select>
                <!-- Used in submission metadata to prevent the same date being used for multiple milestones-->
                <label for="event-date">Event Date:</label>
                <input name="event-date" id="event-date" type="date" required>
                <!--<label for="start-date">Start Date:</label>
                <input name="start-date" id="start-date" type="date">
                <label for="start-date">Start Time (Pacific):</label>
                <input name="start-time" id="start-time" type="time">
                <label for="end-date">End Date:</label>
                <input name="start-date" id="start-date" type="date">
                <label for="end-date">End Time (Pacific):</label>
                <input name="end-time" id="end-time" type="time">-->
                <label for="attendance-file">Attendees (CSV):</label>
                <input type="file" name="attendance-file" id="attendance-file" accept="text/csv,.csv" required />
                <button id="submit-attendance-btn">Submit</button>
            </form>
        </div>

        <!-- Display Users -->
        <!--<div class="display-column protected">
            <div class="column-header">Users:</div>
            <div id="all-users-anchor"></div>
        </div>-->



    </body>
    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>
    <script src="scripts/papaparse.min.js"></script>
    <script type="module" src="scripts/index.js"></script>
</html>
